
# 1.   Import Library

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
import re
import random

# untuk teman-teman yang ingin membuat rekomendasi berdasarkan namanya sendiri. Bisa diubah CSVnya dibagian baris pertama. Diganti Nama teman-teman, dan untuk deskripsinya diisi sesuai dengan yang teman-teman minati/sudah dipelajari
df = pd.read_csv("CSV/dataset_farid_matkul.csv")

df

,mitra_name,address,course_skill,program,description
0,Farid Asroful Anam,"Pandana Merdeka Q9 RT03 RW03, Ngaliyan, Semarang",Mata Kuliah,Kuliah,Programming Algorithm Programming Language Dig...
1,StartupCampus-Achmad Zaky Foundation,Jalan Attahiriyah II Kompleks Warga Indah Nomo...,data science,Studi Independen,Pengenalan Data Science Proses Discovery Data ...
2,GreatEdu,"8A, RT.12/RW.1, Pejaten Tim., Kec. Ps. Minggu,...",data analytics,Studi Independen,gathering & wrangling data mining & visualizin...
3,Ruangguru-PT Ruang Raya Indonesia,"Jl. Dr. Saharjo No.161, Manggarai Selatan, Teb...",Frontend Engineering,Studi Independen,webdevelopment frontend backend ReactJS REST A...
4,PT Ruang Raya Indonesia,"Jl. Dr. Saharjo No.161, Manggarai Selatan, Teb...",Backend Engineering,Studi Independen,Final Project Software Engineering: Implementi...
5,PT Mitra Integrasi Informatika,"APL Tower Lantai 37, Jl. Letjen S. Parman Kav....",Full Stack Developer,Studi Independen,Introduction to Programming Front-End Programm...
6,PT Hacktivate Teknologi Indonesia,"Gedung Aquarius Lt. 1&2, Jl. Sultan Iskandar M...",UI/UX Design,Studi Independen,Understand the definition and mindset of a UI/...
7,PT Hacktivate Teknologi Indonesia,"Gedung Aquarius Lt. 1&2, Jl. Sultan Iskandar M...",Web Developer Program,Studi Independen,Understand Basic & Fundamentals to become a we...
8,PT BISA ARTIFISIAL INDONESIA,JLN. IR H JUANDA NO. 84 BANDUNG,Teknologi Kecerdasan Artifisial (AI-HACKER),Studi Independen,Compulsory Learning 1 Compulsory Learning 2 Op...
9,PT Hacktivate Teknologi Indonesia,"Gedung Aquarius Lt. 1&2, Jl. Sultan Iskandar M...",Golang for BackEnd Programmer,Studi Independen,Exploration of Various Applications of Functio...
10,PT Ruang Raya Indonesia,"Jl. Dr. Saharjo No.161, Manggarai Selatan, Teb...",Data Business & Analytics,Studi Independen,Digital Product Analytics: understand the basi...
11,PT Baracipta Esa Engineering,"Jl. Mijil No. 98 Karangjati, Ngemplak, Kel. Si...",3D Artist,magang,Understanding of the concept design and schema...
12,PT Home Credit Indonesia,Plaza Oleos Lantai 8 Jl. TB Simatupang No. 53A...,Android Developer,magang,Programming Language Project Management Dynami...
13,PT Mafela Ranca Wana,"Jl. Tan Malaka No. 138 Lt 3 , Kota Payakumbuh,...",Animator,magang,Lipsing and Expression of Characters Introduct...
14,PT Indonesia Indicator,Menara Sudirman Lt. 15 Lot A Jl. Jendral Sudir...,Block Chain Developer,magang,Architecture Blockchain Smart Contract
15,PT Telkom Indonesia (Persero) Tbk,"Jl Japati 1, Bandung",Business Analyst,magang,Risk Management Valuation & Business Performan...
16,PT Bhinneka Mentaridimensi,"Jl. Gn. Sahari No.73C, RT.9/RW.7, Gn. Sahari S...",Business Intelligence Intern,magang,Inter/Inter-Team Collaboration Ability Communi...
17,PT Pilihanmu Indonesia Jaya,"Jalan Asem Baris Raya Blok A17, Kebon Baru, Te...",Content Creator,magang,Communication Design Business Insight Digital ...
18,PT Hashmicro Solusi Indonesia,"Neo Soho Podomoro City, Jalan Letjen S. Parman...",Content Writer,magang,SEO Marketing Communication Editorial Brand Aw...
19,PT TELEKOMUNIKASI SELULAR,"The Telkom Hub, Jl. Gatot Subroto No.Kav. 52, ...",Data Analytics Intern,magang,Data Mining Data and Statistical Analytic Soft...
20,PT Linimuda Inspirasi Negeri,"Griya Dros, Jl KH Abdullah Syafei No 1 (Tebet ...",Digital Marketing Internship Program,magang,Able to analyze various analytics on various s...



---



# 2.   Ikhtisar

In [2]:
df.describe()

,mitra_name,address,course_skill,program,description
count,21,21,21,21,21
unique,18,17,21,3,21
top,PT Hacktivate Teknologi Indonesia,"Jl. Dr. Saharjo No.161, Manggarai Selatan, Teb...",Mata Kuliah,Studi Independen,Programming Algorithm Programming Language Dig...
freq,3,3,1,10,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mitra_name    21 non-null     object
 1   address       21 non-null     object
 2   course_skill  21 non-null     object
 3   program       21 non-null     object
 4   description   21 non-null     object
dtypes: object(5)
memory usage: 968.0+ bytes



---


# 3.   Deskripsi Modul & Kompetensi (Sebelum Preprocessing)

In [13]:
def print_description(index):
    example = df[df.index == index][['description', 'mitra_name', 'address', 'program', 'course_skill']].values[0]
    if len(example) > 0:
        print(example[0], '\n')
        print('Nama Perusahaan\t\t:', example[1])
        print('Alamat Perusahaan\t:', example[2])
        print('Program Kampus Merdeka\t:', example[3])
        print('Kursus/Program Magang\t:', example[4])
        print()

In [14]:
print_description(1)

Pengenalan Data Science Proses Discovery Data Pengimporan dasar data dengan Python Data Science (SQL)Visualisasi Data Machine Learning Classification Unsupervised Learning supervised Learning Hyperparameter Tuning Gradient Boosting statistics Clustering scikit-learn tensorflow

Nama Perusahaan		: StartupCampus-Achmad Zaky Foundation
Alamat Perusahaan	: Jalan Attahiriyah II Kompleks Warga Indah Nomor 9c, Pejaten Barat, Jakarta Selatan, 12510
Program Kampus Merdeka	: Studi Independen
Kursus/Program Magang	: data science

In [15]:
print_description(15)

Risk Management Valuation & Business Performance  Business Process Management Business/ Industry Understanding Business Strategy & Plan Value - Harmonis	 Job Performance Value - Kompeten	 Value - Amanah	 Value - Adaptif	 Value - Loyal	 Value - Kolaboratif

Nama Perusahaan		: PT Telkom Indonesia (Persero) Tbk
Alamat Perusahaan	: Jl Japati 1, Bandung
Program Kampus Merdeka	: magang
Kursus/Program Magang	: Business Analyst

In [16]:
print_description(20)

Able to analyze various analytics on various social media channels to get evaluations and insights Know the platforms/technological devices for digital marketing and understand how to use them Able to identify markets, know the target market, and conduct market research Able to use digital marketing platforms such as Facebook Ads and use them optimally.Understand and be able to operate various features or keyword search tools for content writing

Nama Perusahaan		: PT Linimuda Inspirasi Negeri
Alamat Perusahaan	: Griya Dros, Jl KH Abdullah Syafei No 1 (Tebet Utara Dalam 34), Kel. Tebet Timur, Kec. Tebet, Kota Adm. Jakarta Selatan, Prov. DKI Jakarta
Program Kampus Merdeka	: magang
Kursus/Program Magang	: Digital Marketing Internship Program



---


# 4.   Text Preprocessing

In [19]:
import nltk
nltk.download('stopwords')
clean_spcl = re.compile('[/(){}\[\]\|@,;]')
clean_symbol = re.compile('[^0-9a-z #+_]')
stopworda = set(stopwords.words('english'))

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.lower() # lowercase text
    text = clean_spcl.sub(' ', text)
    text = clean_symbol.sub('', text)
    text = ' '.join(word for word in text.split() if word not in stopworda) # hapus stopword dari kolom deskripsi
    return text
    
df['desc_clean'] = df['description'].apply(clean_text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
df.head()

,mitra_name,address,course_skill,program,description,desc_clean
0,Farid Asroful Anam,"Pandana Merdeka Q9 RT03 RW03, Ngaliyan, Semarang",Mata Kuliah,Kuliah,Programming Algorithm Programming Language Dig...,programming algorithm programming language dig...
1,StartupCampus-Achmad Zaky Foundation,Jalan Attahiriyah II Kompleks Warga Indah Nomo...,data science,Studi Independen,Pengenalan Data Science Proses Discovery Data ...,pengenalan data science proses discovery data ...
2,GreatEdu,"8A, RT.12/RW.1, Pejaten Tim., Kec. Ps. Minggu,...",data analytics,Studi Independen,gathering & wrangling data mining & visualizin...,gathering wrangling data mining visualizing da...
3,Ruangguru-PT Ruang Raya Indonesia,"Jl. Dr. Saharjo No.161, Manggarai Selatan, Teb...",Frontend Engineering,Studi Independen,webdevelopment frontend backend ReactJS REST A...,webdevelopment frontend backend reactjs rest a...
4,PT Ruang Raya Indonesia,"Jl. Dr. Saharjo No.161, Manggarai Selatan, Teb...",Backend Engineering,Studi Independen,Final Project Software Engineering: Implementi...,final project software engineering implementin...



---


# 5.   Deskripsi Modul & Kompetensi (Setelah Preprocessing)

In [22]:
#Deskripsi Setelah di Prosessing
def print_description_clean(index):
    example = df[df.index == index][['description', 'mitra_name', 'address', 'program', 'course_skill']].values[0]
    if len(example) > 0:
        print(example[0], '\n')
        print('Nama Perusahaan\t\t:', example[1])
        print('Alamat Perusahaan\t:', example[2])
        print('Program Kampus Merdeka\t:', example[3])
        print('Kursus/Program Magang\t:', example[4])
        print()

In [24]:
print_description_clean(1)

Pengenalan Data Science Proses Discovery Data Pengimporan dasar data dengan Python Data Science (SQL)Visualisasi Data Machine Learning Classification Unsupervised Learning supervised Learning Hyperparameter Tuning Gradient Boosting statistics Clustering scikit-learn tensorflow

Nama Perusahaan		: StartupCampus-Achmad Zaky Foundation
Alamat Perusahaan	: Jalan Attahiriyah II Kompleks Warga Indah Nomor 9c, Pejaten Barat, Jakarta Selatan, 12510
Program Kampus Merdeka	: Studi Independen
Kursus/Program Magang	: data science

In [25]:
print_description_clean(15)

Risk Management Valuation & Business Performance  Business Process Management Business/ Industry Understanding Business Strategy & Plan Value - Harmonis	 Job Performance Value - Kompeten	 Value - Amanah	 Value - Adaptif	 Value - Loyal	 Value - Kolaboratif

Nama Perusahaan		: PT Telkom Indonesia (Persero) Tbk
Alamat Perusahaan	: Jl Japati 1, Bandung
Program Kampus Merdeka	: magang
Kursus/Program Magang	: Business Analyst

In [27]:
print_description_clean(20)

Able to analyze various analytics on various social media channels to get evaluations and insights Know the platforms/technological devices for digital marketing and understand how to use them Able to identify markets, know the target market, and conduct market research Able to use digital marketing platforms such as Facebook Ads and use them optimally.Understand and be able to operate various features or keyword search tools for content writing

Nama Perusahaan		: PT Linimuda Inspirasi Negeri
Alamat Perusahaan	: Griya Dros, Jl KH Abdullah Syafei No 1 (Tebet Utara Dalam 34), Kel. Tebet Timur, Kec. Tebet, Kota Adm. Jakarta Selatan, Prov. DKI Jakarta
Program Kampus Merdeka	: magang
Kursus/Program Magang	: Digital Marketing Internship Program



---

# 6. TF-IDF & Cosine Similarity

In [28]:
df.set_index('mitra_name', inplace=True)
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df['desc_clean'])
cos_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cos_sim

array([[1.        , 0.02270463, 0.02986094, 0.        , 0.06705158,
        0.12658398, 0.00910503, 0.        , 0.        , 0.02368396,
        0.02036001, 0.02329119, 0.07075854, 0.        , 0.        ,
        0.00622644, 0.02758526, 0.01127627, 0.        , 0.01991976,
        0.00560276],
       [0.02270463, 1.        , 0.07106286, 0.        , 0.01787313,
        0.        , 0.        , 0.        , 0.11402977, 0.        ,
        0.09520303, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.05238093, 0.        , 0.        , 0.13582668,
        0.        ],
       [0.02986094, 0.07106286, 1.        , 0.        , 0.02254359,
        0.01647937, 0.        , 0.00305302, 0.        , 0.00521928,
        0.07346048, 0.        , 0.00500598, 0.00354754, 0.        ,
        0.        , 0.04041813, 0.        , 0.        , 0.12268965,
        0.00254897],
       [0.        , 0.        , 0.        , 1.        , 0.02159708,
        0.02577913, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.06705158, 0.01787313, 0.02254359, 0.02159708, 1.        ,
        0.06492888, 0.029402  , 0.08797318, 0.0234749 , 0.06345402,
        0.15616623, 0.04207141, 0.05870839, 0.02759969, 0.01143128,
        0.01376591, 0.03851234, 0.02069794, 0.01031   , 0.01431886,
        0.04584078],
       [0.12658398, 0.        , 0.01647937, 0.02577913, 0.06492888,
        1.        , 0.        , 0.        , 0.        , 0.02511319,
        0.00666375, 0.        , 0.06238042, 0.03938551, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.00910503, 0.        , 0.        , 0.        , 0.029402  ,
        0.        , 1.        , 0.03579755, 0.00502553, 0.00430766,
        0.01118901, 0.04242332, 0.00773248, 0.        , 0.        ,
        0.00452423, 0.01592464, 0.0220434 , 0.        , 0.        ,
        0.00701302],
       [0.        , 0.        , 0.00305302, 0.        , 0.08797318,
        0.        , 0.03579755, 1.        , 0.        , 0.02739372,
        0.02443815, 0.        , 0.02745716, 0.00611954, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.02264787],
       [0.        , 0.11402977, 0.        , 0.        , 0.0234749 ,
        0.        , 0.00502553, 0.        , 1.        , 0.        ,
        0.02595285, 0.        , 0.01414935, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.02368396, 0.        , 0.00521928, 0.        , 0.06345402,
        0.02511319, 0.00430766, 0.02739372, 0.        , 1.        ,
        0.0215893 , 0.00548162, 0.0076287 , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.08056106],
       [0.02036001, 0.09520303, 0.07346048, 0.        , 0.15616623,
        0.00666375, 0.01118901, 0.02443815, 0.02595285, 0.0215893 ,
        1.        , 0.02926248, 0.01948366, 0.01286263, 0.        ,
        0.04793052, 0.10482255, 0.04818428, 0.0113983 , 0.13364881,
        0.07029497],
       [0.02329119, 0.        , 0.        , 0.        , 0.04207141,
        0.        , 0.04242332, 0.        , 0.        , 0.00548162,
        0.02926248, 1.        , 0.00983981, 0.        , 0.02125223,
        0.02559261, 0.05662057, 0.03506359, 0.01916763, 0.        ,
        0.02205878],
       [0.07075854, 0.        , 0.00500598, 0.        , 0.05870839,
        0.06238042, 0.00773248, 0.02745716, 0.01414935, 0.0076287 ,
        0.01948366, 0.00983981, 1.        , 0.        , 0.        ,
        0.01841028, 0.01500103, 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.00354754, 0.        , 0.02759969,
        0.03938551, 0.        , 0.00611954, 0.        , 0.        ,
        0.01286263, 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.01143128,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.02125223, 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.00622644, 0.        , 0.        , 0.        , 0.01376591,
        0.        , 0.00452423, 0.        , 0.        , 0.        ,
        0.04793052, 0.02559261, 0.01841028, 0.        , 0.        ,
        1.        , 0.        , 0.05448561, 0.        , 0.        ,
        0.        ],
       [0.02758526, 0.05238093, 0.04041813, 0.        , 0.03851234,
        0.        , 0.01592464, 0.        , 0.        , 0.        ,
        0.10482255, 0.05662057, 0.01500103, 0.        , 0.        ,
        0.        , 1.        , 0.01835568, 0.01254274, 0.06967905,
        0.00570743],
       [0.01127627, 0.        , 0.        , 0.        , 0.02069794,
        0.        , 0.0220434 , 0.        , 0.        , 0.        ,
        0.04818428, 0.03506359, 0.        , 0.        , 0.        ,
        0.05448561, 0.01835568, 1.        , 0.03472415, 0.        ,
        0.05265937],
       [0.        , 0.        , 0.        , 0.        , 0.01031   ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.0113983 , 0.01916763, 0.        , 0.        , 0.        ,
        0.        , 0.01254274, 0.03472415, 1.        , 0.        ,
        0.0161352 ],
       [0.01991976, 0.13582668, 0.12268965, 0.        , 0.01431886,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.13364881, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.06967905, 0.        , 0.        , 1.        ,
        0.        ],
       [0.00560276, 0.        , 0.00254897, 0.        , 0.04584078,
        0.        , 0.00701302, 0.02264787, 0.        , 0.08056106,
        0.07029497, 0.02205878, 0.        , 0.        , 0.        ,
        0.        , 0.00570743, 0.05265937, 0.0161352 , 0.        ,
        1.        ]])

In [32]:
# Berikan index utama di kolom 'name'
indices = pd.Series(df.index)
indices[:21]

0                        Farid Asroful Anam
1     StartupCampus-Achmad Zaky Foundation
2                                  GreatEdu
3         Ruangguru-PT Ruang Raya Indonesia
4                   PT Ruang Raya Indonesia
5            PT Mitra Integrasi Informatika
6         PT Hacktivate Teknologi Indonesia
7         PT Hacktivate Teknologi Indonesia
8              PT BISA ARTIFISIAL INDONESIA
9         PT Hacktivate Teknologi Indonesia
10                  PT Ruang Raya Indonesia
11             PT Baracipta Esa Engineering
12                 PT Home Credit Indonesia
13                     PT Mafela Ranca Wana
14                   PT Indonesia Indicator
15        PT Telkom Indonesia (Persero) Tbk
16               PT Bhinneka Mentaridimensi
17              PT Pilihanmu Indonesia Jaya
18            PT Hashmicro Solusi Indonesia
19                PT TELEKOMUNIKASI SELULAR
20             PT Linimuda Inspirasi Negeri
Name: mitra_name, dtype: object



---

# 7. Modelling

In [67]:
def recommendations(name, cos_sim = cos_sim):
    
    recommended_mbkm = {'mitra_name': [],
                       'address': [],
                       'program': [],
                       'course_skill': []}
    
    # Mengambil nama Mitra Perusahaan berdasarkan variabel indicies
    idx = indices[indices == name].index[0]

    # Membuat series berdasarkan skor kesamaan
    score_series = pd.Series(cos_sim[idx]).sort_values(ascending = False)

    # mengambil index dan dibuat 10 baris rekomendasi terbaik
    top_10_indexes = list(score_series.iloc[1:11].index)
  
    
    print("\n\t\t\t\t\t\t\tREKOMENDASI PERUSAHAAN MITRA KAMPUS MERDEKA\n")
    print("="*150)
    
    for i in top_10_indexes:
      
      if list(df['program'])[i] == "Studi Independen":
        pilihan_bidang_kursus = "Kursus"
      else:
        pilihan_bidang_kursus = "Bidang"
      
      print()
      print('Nama Perusahaan\t\t:', list(df.index)[i])
      print('Program Kampus Merdeka\t:', list(df['program'])[i].upper())
      print(f'{pilihan_bidang_kursus}\t\t\t:', list(df['course_skill'])[i])
      print('Alamat\t\t\t:', list(df['address'])[i])
      print()
      print("*"*150)



---

# 8. Prediksi

In [68]:
recommendations('Farid Asroful Anam')

							REKOMENDASI PERUSAHAAN MITRA KAMPUS MERDEKA

======================================================================================================================================================

Nama Perusahaan		: PT Mitra Integrasi Informatika
Program Kampus Merdeka	: STUDI INDEPENDEN
Kursus			: Full Stack Developer
Alamat			: APL Tower Lantai 37, Jl. Letjen S. Parman Kav. 28, RT.12/RW.6, Tj. Duren Sel., Jakarta Barat, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11470

******************************************************************************************************************************************************

Nama Perusahaan		: PT Home Credit Indonesia
Program Kampus Merdeka	: MAGANG
Bidang			: Android Developer
Alamat			: Plaza Oleos Lantai 8 Jl. TB Simatupang No. 53A, Jakarta Selatan 12520

******************************************************************************************************************************************************

Nama Perusahaan		: PT Ruang Raya Indonesia
Program Kampus Merdeka	: STUDI INDEPENDEN
Kursus			: Backend Engineering
Alamat			: Jl. Dr. Saharjo No.161, Manggarai Selatan, Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12860

******************************************************************************************************************************************************

Nama Perusahaan		: GreatEdu
Program Kampus Merdeka	: STUDI INDEPENDEN
Kursus			: data analytics
Alamat			: 8A, RT.12/RW.1, Pejaten Tim., Kec. Ps. Minggu, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12510

******************************************************************************************************************************************************

Nama Perusahaan		: PT Bhinneka Mentaridimensi
Program Kampus Merdeka	: MAGANG
Bidang			: Business Intelligence Intern
Alamat			: Jl. Gn. Sahari No.73C, RT.9/RW.7, Gn. Sahari Sel., Kec. Kemayoran, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10610

******************************************************************************************************************************************************

Nama Perusahaan		: PT Hacktivate Teknologi Indonesia
Program Kampus Merdeka	: STUDI INDEPENDEN
Kursus			: Golang for BackEnd Programmer
Alamat			: Gedung Aquarius Lt. 1&2, Jl. Sultan Iskandar Muda No. 7,  RT. 005 RW. 009, Kebayoran Lama Selatan, Kebayoran Lama, Jakarta Selatan 12240

******************************************************************************************************************************************************

Nama Perusahaan		: PT Baracipta Esa Engineering
Program Kampus Merdeka	: MAGANG
Bidang			: 3D Artist
Alamat			: Jl. Mijil No. 98 Karangjati, Ngemplak, Kel. Sinduadi, Kec. Mlati, Sleman, Prov. Daerah istimewa Yogyakarta 55284

******************************************************************************************************************************************************

Nama Perusahaan		: StartupCampus-Achmad Zaky Foundation
Program Kampus Merdeka	: STUDI INDEPENDEN
Kursus			: data science
Alamat			: Jalan Attahiriyah II Kompleks Warga Indah Nomor 9c, Pejaten Barat, Jakarta Selatan, 12510

******************************************************************************************************************************************************

Nama Perusahaan		: PT Ruang Raya Indonesia
Program Kampus Merdeka	: STUDI INDEPENDEN
Kursus			: Data Business & Analytics
Alamat			: Jl. Dr. Saharjo No.161, Manggarai Selatan, Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12860

******************************************************************************************************************************************************

Nama Perusahaan		: PT TELEKOMUNIKASI SELULAR
Program Kampus Merdeka	: MAGANG
Bidang			: Data Analytics Intern
Alamat			: The Telkom Hub, Jl. Gatot Subroto No.Kav. 52, RT.6/RW.1, Kuningan Bar., Kec. Mampang Prpt., Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12710

******************************************************************************************************************************************************